attached_assets/modifie_1779213392504.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/modifie_1779354233192.mp4 filter=lfs diff=lfs merge=lfs -text
client/public/test-video.mp4 filter=lfs diff=lfs merge=lfs -text
